
body,html{


}
h4{
    padding:60px;
    font-family:ff-clan-web-pro-wide;
    font-size:28px;
    font-weight:bold;
    text-align:center;
 

}

h5{

    padding-bottom:10px;
    font-weight:bold;
    font-family:ff-clan-web-pro-wide;
    font-size:20px;
    color:royalblue
  
}

h6{

    padding-bottom:10px;
    font-weight:bold;
    font-family:ff-clan-web-pro-wide;
    font-size:20px;
    color:royalblue
}

h7{

    padding-bottom:10px;
    font-weight:bold;
    font-family:ff-clan-web-pro-wide;
    font-size:20px;
    color:royalblue
   
}
h8{

    padding-bottom:10px;
    font-weight:bold;
    font-family:ff-clan-web-pro-wide;
    font-size:20px;
    color:royalblue
   
}
li{
    font-family:ff-clan-web-pro-wide;
    font-size:18px;
}
