
body, html {
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
}

/* Carousel */

.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"]
{
    width: 900%;
}


/* Hide/rearrange for smaller screens */
@media screen and (max-width: 967px){
  /* Hide captions */
  .carousel-caption {
    display: none
  }
}
